.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
pen-sans-font    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
 nav{
    display: flex;
 }
 .text-primary{
    color: #FD6E0A;
 }
.nav-title{
    font-weight: 800;
    font-size: 45px;
}